<!--[if gte mso 9]>
<xml><o:OfficeDocumentSettings><o:AllowPNG /><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml>
<![endif]-->
<title>{{changelog.title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="x-apple-disable-message-reformatting" />
<meta name="referrer" content="origin">
<meta
  name="format-detection"
  content="telephone=no,address=no,email=no,date=no,url=no"
/>
<meta name="color-scheme" content="light" />
<meta name="supported-color-schemes" content="light" />
<!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
<!--[if mso]>
      <style>
        * {
          font-family: Helvetica, Arial, sans-serif !important;
        }
      </style>
<![endif]-->
<style type="text/css">
a {
  outline: none;
  color: #000;
  text-decoration: underline;
}
a:hover {
  text-decoration: none !important;
}
.h-u a {
  text-decoration: underline;
}
.h-u a:hover,
.active-t a:hover {
  text-decoration: none !important;
}
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
}
a[href^="tel"]:hover {
  text-decoration: none !important;
}
.active-i a:hover,
.active-t:hover {
  opacity: 0.8;
}
.active-i a,
.active-t {
  transition: all 0.3s ease;
}
a img {
  border: none;
}
b,
strong {
  font-weight: 700;
}
p {
  margin: 0;
}
th {
  padding: 0;
}
table td {
  mso-line-height-rule: exactly;
}
:root {
  color-scheme: light;
  supported-color-schemes: light;
} /* What it does: Stops email clients
  resizing small text. */
* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} /* What it does: forces Samsung Android mail
  clients to use the entire viewport */
#MessageViewBody,
#MessageWebViewDiv {
  width: 100% !important;
} /* What it does: Stops Outlook from adding extra
  spacing to tables. */
table,
td {
  mso-table-lspace: 0pt !important;
  mso-table-rspace: 0pt !important;
} /* What it does: Fixes webkit padding
  issue. */
table {
  border-spacing: 0 !important;
  table-layout: fixed !important;
  margin: 0 auto !important;
} /* What it does: Uses a better
  rendering method when resizing images in IE. */
img {
  -ms-interpolation-mode: bicubic;
} /* What it does: A work-around for email clients meddling in
  triggered links. */
a[x-apple-data-detectors], /* iOS */
  .unstyle-auto-detected-links a, .aBn {
  border-bottom: 0 !important;
  cursor: default !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
} /* What it
  does: Prevents Gmail from displaying a download button on large, non-linked
  images. */
.a6S {
  display: none !important;
  opacity: 0.01 !important;
}
@media only screen and (max-width: 667px) {
  .w-100p {
    width: 100% !important;
  }
  .tflex {
    display: block !important;
    width: 100% !important;
  }
  .t-c {
    float: none !important;
    margin: 0 auto !important;
  }
  .h-a {
    height: auto !important;
  }
  .wi-100p img {
    width: 100% !important;
    height: auto !important;
  }
  .plr-22 {
    padding-left: 22px !important;
    padding-right: 22px !important;
  }
}
@media (prefers-dark-interface) {
  body {
    -apple-color-filter: none;
  }
}

</style>
