<div style="display: none;font-size: 1px;color: #e5e5e5;line-height: 1px;font-family: Helvetica, Arial, sans-serif;max-height: 0px;max-width: 0px;opacity: 0;overflow: hidden;">
  <!-- hack show in email preview lines but not in the body -->
  {{changelog.headline}}
</div>